// transitions & styling
$browsers: '', '-moz-', '-webkit-'
=transitions ($sec, $type: all, $accel: ease)
	@each $browser in $browsers
		#{$browser}transition: $type $sec $accel
=borderradius ($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius
=boxsizing ($type: border-box)
	@each $browser in $browsers
		#{$browser}box-sizing: $type
// not supported by Chrome
// =columns ($columns: 4, $gap: 16px)
// 	@each $browser in $browsers
// 		#{$browser}column-count: $columns
// 		#{$browser}column-gap: $gap
=clearfix
	content: ""
	display: block
	clear: both
=shadow($color: $shadow-lite)
	@each $browser in $browsers
		#{$browser}box-shadow: $color
=dimension($width, $height, $lineheight: $height, $align: "center")
	width: $width
	height: $height
	line-height: $lineheight !important
	text-align: $align
// set base container
// responsive setting
$responsive: true
=container($container-width: $width)
	// set container width if responsive, else if not
	@if $responsive == true
		max-width: $container-width
	@else
		width: $container-width
	margin: 0px auto
=materialicons
	text-align: center
	font-family: 'Material Icons'
	font-weight: normal
	font-style: normal
	line-height: 1
	letter-spacing: normal
	text-transform: none
	white-space: nowrap
	word-wrap: normal
	direction: ltr
	-moz-font-feature-settings: 'liga'
	-moz-osx-font-smoothing: grayscale
i
	+materialicons
	+transitions(.3s)

// used inside a relative div
=absolutecenter
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
=shade($all: 1px, $left-bottom: 2px, $color: $grey)
	border: $all solid $grey
	border-right-width: $left-bottom
	border-bottom-width: $left-bottom

=squareicon ($size)
	width: $size
	height: $size
	line-height: $size
	text-align: center