// form styling
.form-default, form
	font-family: "Segoe UI", Arial
	font-size: 16px
	hr
		width: 100%
		border: 0
		border-top: 1px solid $grey-light
		&.space
			margin: 16px 0
	fieldset
		width: 100%
		display: block
		border: 0
		padding: 0
		margin: 0
	label
		display: block
		vertical-align: top
		// text-transform: capitalize
		line-height: 32px
		// display: inline-block
		font-size: 14px
		&.inline
			display: inline-block
	select, input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], textarea
		border: 1px solid darken($grey-light, 10%)
		padding: 8px 12px
		+borderradius(8px)
		display: block
		width: 100%
		margin-bottom: 6px
		&:hover, &:active, &:focus
			border-color: $theme
		&.inline
			display: inline-block
			width: auto
	.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
		border: 1px solid darken($grey-light, 10%)
		+borderradius(8px)
	.select2-container
		margin-bottom: 6px
		.select2-selection--single
			height: 34px
			padding-left: 0
	textarea
		resize: none
		height: 104px
		+borderradius(8px)
		width: 100%
		font-family: $font-family
	input[type="submit"], input[type="reset"], button
		display: inline-block
		// border: 0
		padding: 5px 8px
		font-size: 16px
	input[type=number]::-webkit-inner-spin-button
		-webkit-appearance: none
		cursor: pointer
		display: block
		width: 8px
		color: #333
		text-align: center
		position: relative
	input[type=number]
		-moz-appearance: textfield
	small
		font-size: 12px
		text-transform: uppercase
		display: block
		line-height: 16px
		margin: -8px 0 8px
		color: $grey
	.button.form
		width: 100%
		margin: 8px 0
	span.info
		display: block
		font-weight: 500
		line-height: 28px
		&:last-child
			margin-bottom: 12px
	.columns
		margin: 0 -8px
		.column
			padding: 0 8px
			position: relative
	.form-footer
		.lined
			display: block
			position: relative
			padding: 8px 0
// select
// 	-webkit-appearance: none
// 	-moz-appearance: none
// 	text-overflow: ""
// 	position: relative
// 	&:before
// 		position: absolute
// 		content: "▼"
// 		content: "\2BC6"
// 		right: 0 
// 		display: block
// 		text-align: center
.action
	position: fixed
	max-width: 720px
	background-color: white
	bottom: 0
	left: 100
	right: 100
	width: 100%
	padding: 16px 16px 8px
	border-top: 1px solid $grey-light

.checkbox-inline
	display: none
	~
		small
			padding-left: 32px
			margin-top: 4px
			font-size: 12px
			color: $grey-dark
	&:checked
		+
			label
				&:before
					content: "\2611"
					color: darken($blue, 30%)
.checkbox-inline + label
	cursor: pointer
	padding-left: 32px
	font-size: 16px
	&:before
		content: "\2610"
		font-size: 24px
		display: block
		position: absolute
		left: 8px
	&:hover, &:focus
		color: theme
.checkbox-switch
	display: none
	&:checked
		+
			label
				font-weight: 400
				text-decoration: none
				&:after
					left: 22px
					color: $theme
				&:before
					border-color: $theme
				+
					label
						font-weight: 600
						text-decoration: underline

	&+ label
		display: inline-block
		font-weight: 600
		text-decoration: underline
		position: relative
		cursor: pointer
		&+ label
			cursor: pointer
			display: inline-block
			&:before
				content: "/ "
				font-weight: 400 !important
				text-decoration: none !important
.checkbox-switch + label
	padding-left: 54px
	&:before
		+transitions(.3s)
		position: absolute
		left: 0
		content: ""
		height: 32px
		width: 48px
		border: 1px solid $theme
		border-bottom-width: 2px
		display: block
		background: $white
		+borderradius(16px)
	&:after
		+transitions(.3s)
		position: absolute
		left: 6px
		top: -2px
		content: "\2b24"
		font-size: 24px
		line-height: 32px