\:root
	--theme: #92dff3
	--light-background: #fafaff

$font-family: 'Century Gothic', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif

@import "alchemy"
@import "colors"
@import "form"

.login-box
	padding: 16px
	width: 100%
	max-width: 600px
	background: $white
	margin: 128px auto 0
	border-width: 3px 3px 5px 3px
	border-color: $grey-light
	border-style: solid
	.login-logo
		margin: 16px 0
		font-size: 20px
		width: 100%
		text-align: center
		display: block

.boxed
	border: 2px solid $grey