\:root
	--theme: #92dff3
	--light-background: #fafaff

$font-family: 'Century Gothic', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif

@import "alchemy"
@import "colors"
@import "form"

*, *:before, *:after
	box-sizing: border-box
html, body
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
a
	text-decoration: none
	color: inherit
	&:hover, &:active, &:focus, &:visited
		color: inherit
		text-decoration: none
	&.round-button
		@include borderradius(50%)
		display: block
		background-color: $white-min
ul
	list-style: none
	padding-left: 0
ul, li, a, input, input ~ label, button
	@include transitions(.3s)
input[type="radio"], input[type="checkbox"], a
	cursor: pointer
	& ~ label
		cursor: pointer
.hidden
	visibility: hidden
	display: none
.clear
	display: table
	float: none
	clear: both
=menutooltips
	+transitions(.2s)
	color: $white
	left: 300px
	padding: 0 16px
	background: rgba(28,29,34,0.77)
	border-right: 12px solid $theme
	white-space: nowrap

.green-button
	display: block
	background: lighten($green, 20%)
	font-size: 18px
	padding: 4px 8px
	margin-bottom: 8px
	&[disabled="disabled"]
		background: $grey-light
		&:hover, &:focus
			cursor: not-allowed
			background: $grey-light
	&:hover, &:focus
		background: $green

body
	font-family: $font-family
	// margin: 0
	color: $grey-dark
	background: var(--light-background, #fafaff)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	width: 100%
	#toggler
		display: none
		&:checked
			~
				aside
					width: 0
					a
						overflow: hidden
						padding: 0
	label[for="toggler"]
		+transitions(.3s)
		font-weight: 600
		font-size: 22px
		position: fixed
		top: 0
		left: 0
		height: 72px
		line-height: 72px
		z-index: 889
		padding-left: 8px
		i
			+squareicon(36px)
			display: inline-block
	.wrapper
		height: auto
		position: relative
		padding-top: 80px
	aside
		+transitions(.3s)
		width: 100%
		background: $theme
		position: fixed
		top: 0
		left: 0
		bottom: 0
		z-index: 888
		opacity: 0.88
		nav.left-menu
			padding-top: 80px
			ul
				li
					a
						display: block
						padding: 0 8px
						line-height: 48px
						height: 48px
						i, .profile-thumb
							margin-right: 8px
							display: inline-block
							+squareicon(36px)
						.profile-thumb
							+borderradius(50%)
							overflow: hidden
							float: left
							margin-top: 8px
							img
								width: 100%
						span
							display: inline-block
	section.content-header
		h1
			margin: 12px 0
			font-size: 32px
			padding: 0 16px
	.list-items
		a
			@extend .green-button
	// frenzy edit to adminLTE theme
	=thebutton($color: $grey-light)
		background: lighten($color, 15%) !important
		color: $grey-dark !important
		border-width: 1px 1px 3px 1px !important
		border-color: $grey !important
		margin-bottom: 8px !important
		&:hover, &:focus
			background: $color !important
			color: black !important
			border-color: black !important
	a.btn.btn-primary, .btn.btn-primary
		+thebutton($orange)
	a.btn.btn-default, .btn.btn-default
		+thebutton
	a.btn.btn-success, .btn.btn-success
		+thebutton($green)
	a.btn.btn-danger, .btn.btn-danger
		+thebutton($pink)
	
	@media screen and ( min-width: 641px )
		.wrapper
			padding: 8px 8px 8px 58px
		aside
			width: 240px
			// need to add shadow
			nav.left-menu
				ul li
					a
						white-space: nowrap
						overflow: hidden
						&:hover, &:focus
							line-height: 43px
							text-shadow: 2px 2px 4px $grey
		#toggler
			&:checked
				~
					label[for="toggler"]
						width: 50px
						white-space: nowrap
						overflow: hidden
					aside
						width: 50px
						nav.left-menu
							a
								padding: 0 8px
	@media screen and ( max-width: 640px )
		label[for="toggler"]
			background: rgba(255, 255, 255, 0.77)
			width: 100%

.jumbotron
	background: transparent
.antara
	margin-top: 20px
	padding: 0 24px 16px
	text-align: center
	max-width: 100%
	img
		max-width: 100%
nav.topbar
	background: $theme
.topbar-toggler
	width: 28px
	height: 28px
	line-height: 16px
#page-content-wrapper
	padding-top: 50px


input[type="date"]
	box-sizing: border-box
	line-height: 16px !important
input[type="radio"]
	font-size: 24px !important
	margin-right: 8px
.form-check
	label
		font-weight: 400 !important
		margin-bottom: 0