@charset "UTF-8";
:root {
  --theme: #92dff3;
  --light-background: #fafaff; }

i {
  text-align: center;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.form-default, form {
  font-family: "Segoe UI", Arial;
  font-size: 16px; }
  .form-default hr, form hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #dedede; }
    .form-default hr.space, form hr.space {
      margin: 16px 0; }
  .form-default fieldset, form fieldset {
    width: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0; }
  .form-default label, form label {
    display: block;
    vertical-align: top;
    line-height: 32px;
    font-size: 14px; }
    .form-default label.inline, form label.inline {
      display: inline-block; }
  .form-default select, .form-default input[type="text"], .form-default input[type="date"], .form-default input[type="email"], .form-default input[type="number"], .form-default input[type="password"], .form-default input[type="search"], .form-default textarea, form select, form input[type="text"], form input[type="date"], form input[type="email"], form input[type="number"], form input[type="password"], form input[type="search"], form textarea {
    border: 1px solid #c5c5c5;
    padding: 8px 12px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: block;
    width: 100%;
    margin-bottom: 6px; }
    .form-default select:hover, .form-default select:active, .form-default select:focus, .form-default input[type="text"]:hover, .form-default input[type="text"]:active, .form-default input[type="text"]:focus, .form-default input[type="date"]:hover, .form-default input[type="date"]:active, .form-default input[type="date"]:focus, .form-default input[type="email"]:hover, .form-default input[type="email"]:active, .form-default input[type="email"]:focus, .form-default input[type="number"]:hover, .form-default input[type="number"]:active, .form-default input[type="number"]:focus, .form-default input[type="password"]:hover, .form-default input[type="password"]:active, .form-default input[type="password"]:focus, .form-default input[type="search"]:hover, .form-default input[type="search"]:active, .form-default input[type="search"]:focus, .form-default textarea:hover, .form-default textarea:active, .form-default textarea:focus, form select:hover, form select:active, form select:focus, form input[type="text"]:hover, form input[type="text"]:active, form input[type="text"]:focus, form input[type="date"]:hover, form input[type="date"]:active, form input[type="date"]:focus, form input[type="email"]:hover, form input[type="email"]:active, form input[type="email"]:focus, form input[type="number"]:hover, form input[type="number"]:active, form input[type="number"]:focus, form input[type="password"]:hover, form input[type="password"]:active, form input[type="password"]:focus, form input[type="search"]:hover, form input[type="search"]:active, form input[type="search"]:focus, form textarea:hover, form textarea:active, form textarea:focus {
      border-color: #92dff3; }
    .form-default select.inline, .form-default input[type="text"].inline, .form-default input[type="date"].inline, .form-default input[type="email"].inline, .form-default input[type="number"].inline, .form-default input[type="password"].inline, .form-default input[type="search"].inline, .form-default textarea.inline, form select.inline, form input[type="text"].inline, form input[type="date"].inline, form input[type="email"].inline, form input[type="number"].inline, form input[type="password"].inline, form input[type="search"].inline, form textarea.inline {
      display: inline-block;
      width: auto; }
  .form-default .select2-container--default .select2-selection--single, .form-default .select2-selection .select2-selection--single, form .select2-container--default .select2-selection--single, form .select2-selection .select2-selection--single {
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
  .form-default .select2-container, form .select2-container {
    margin-bottom: 6px; }
    .form-default .select2-container .select2-selection--single, form .select2-container .select2-selection--single {
      height: 34px;
      padding-left: 0; }
  .form-default textarea, form textarea {
    resize: none;
    height: 104px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 100%;
    font-family: "Century Gothic", Avenir, "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial, sans-serif; }
  .form-default input[type="submit"], .form-default input[type="reset"], .form-default button, form input[type="submit"], form input[type="reset"], form button {
    display: inline-block;
    padding: 5px 8px;
    font-size: 16px; }
  .form-default input[type=number]::-webkit-inner-spin-button, form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative; }
  .form-default input[type=number], form input[type=number] {
    -moz-appearance: textfield; }
  .form-default small, form small {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    line-height: 16px;
    margin: -8px 0 8px;
    color: #888; }
  .form-default .button.form, form .button.form {
    width: 100%;
    margin: 8px 0; }
  .form-default span.info, form span.info {
    display: block;
    font-weight: 500;
    line-height: 28px; }
    .form-default span.info:last-child, form span.info:last-child {
      margin-bottom: 12px; }
  .form-default .columns, form .columns {
    margin: 0 -8px; }
    .form-default .columns .column, form .columns .column {
      padding: 0 8px;
      position: relative; }
  .form-default .form-footer .lined, form .form-footer .lined {
    display: block;
    position: relative;
    padding: 8px 0; }

.action {
  position: fixed;
  max-width: 720px;
  background-color: white;
  bottom: 0;
  left: 100;
  right: 100;
  width: 100%;
  padding: 16px 16px 8px;
  border-top: 1px solid #dedede; }

.checkbox-inline {
  display: none; }
  .checkbox-inline ~ small {
    padding-left: 32px;
    margin-top: 4px;
    font-size: 12px;
    color: #2e2e2e; }
  .checkbox-inline:checked + label:before {
    content: "☑";
    color: #00b0ed; }

.checkbox-inline + label {
  cursor: pointer;
  padding-left: 32px;
  font-size: 16px; }
  .checkbox-inline + label:before {
    content: "☐";
    font-size: 24px;
    display: block;
    position: absolute;
    left: 8px; }
  .checkbox-inline + label:hover, .checkbox-inline + label:focus {
    color: theme; }

.checkbox-switch {
  display: none; }
  .checkbox-switch:checked + label {
    font-weight: 400;
    text-decoration: none; }
    .checkbox-switch:checked + label:after {
      left: 22px;
      color: #92dff3; }
    .checkbox-switch:checked + label:before {
      border-color: #92dff3; }
    .checkbox-switch:checked + label + label {
      font-weight: 600;
      text-decoration: underline; }
  .checkbox-switch + label {
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    cursor: pointer; }
    .checkbox-switch + label + label {
      cursor: pointer;
      display: inline-block; }
      .checkbox-switch + label + label:before {
        content: "/ ";
        font-weight: 400 !important;
        text-decoration: none !important; }

.checkbox-switch + label {
  padding-left: 54px; }
  .checkbox-switch + label:before {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: absolute;
    left: 0;
    content: "";
    height: 32px;
    width: 48px;
    border: 1px solid #92dff3;
    border-bottom-width: 2px;
    display: block;
    background: #fff;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px; }
  .checkbox-switch + label:after {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: absolute;
    left: 6px;
    top: -2px;
    content: "⬤";
    font-size: 24px;
    line-height: 32px; }

.login-box {
  padding: 16px;
  width: 100%;
  max-width: 600px;
  background: #fff;
  margin: 128px auto 0;
  border-width: 3px 3px 5px 3px;
  border-color: #dedede;
  border-style: solid; }
  .login-box .login-logo {
    margin: 16px 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: block; }

.boxed {
  border: 2px solid #888; }

/*# sourceMappingURL=login.css.map */
